#!/bin/sh

PULSEDIR=${HOME}/tmp/pulse/{{ansible_hostname}}
PULSE=${PULSEDIR}/.pulse_socket
mkdir -p ${PULSEDIR}

if [ ! -e "$PULSE" ] || [ -z "$(lsof -n $PULSE 2>&1)" ]; then
  pactl load-module module-native-protocol-unix auth-anonymous=1 socket=$PULSE
fi
